.toast-container {
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  padding: 16px 24px;
  background: #fbfdff;
  color: #37474f;
  border-radius: 99px;
  box-shadow: 0 8px 6px rgba(200, 200, 200, 0.5);
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.toast-icon {
  width: 18px;
  height: 18px;
}

.toast-message {
  white-space: pre-line;
}
