.join-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 52px 0;
  padding-bottom: 24px;
}

h1 {
  margin-bottom: 24px;
}

.join-container {
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;

  .profile-image-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-image-input {
      position: absolute !important;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }

    .profile-image-label {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background: #cfcfcf;
      display: grid;
      place-items: center;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: filter 0.15s ease-in-out, transform 0.05s ease-in-out;
    }

    .profile-image-label::after {
      content: "+";
      font-weight: lighter;
      font-size: 48px;
    }

    .profile-image-label:hover {
      filter: brightness(0.95);
    }

    .profile-image-label:active {
      transform: scale(0.98);
    }

    .profile-image-label img {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .profile-image-label.has-image::after {
      content: "";
    }

    .profile-image-label.has-image img {
      display: block;
    }
  }

  .join-field {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    gap: 8px;
    padding: 24px 32px;
    border: 1px solid rgb(221, 224, 230);
    border-radius: 12px;
    background-color: rgb(239, 241, 247);
  }

  .email,
  .email-verify {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      width: 35%;
      margin: 0px;
      font-size: 15px;
    }
  }

  .email-verify {
    display: none;
  }

  .email-verify.is-visible {
    display: flex;
  }

  .password {
    padding: 12px 32px 24px 32px;

    label {
      margin-top: 10px;
    }
  }

  input {
    width: 100%;
    height: 44px;
    padding: 10px 12px;
  }

  button {
    display: inline-block;
    width: 100%;
    height: 44px;
    margin-top: 12px;
    font-size: 16px;
  }
}

.login-container {
  margin-top: 16px;
  text-align: center;
}
