.login-wrapper {
  min-height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #111;

  h1 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.login-container {
  width: 40%;

  .field-error-message {
    display: none;
    margin-top: 6px;
    font-size: 12px;
    color: #d04b4b;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-top: 24px;
      margin-bottom: 6px;
    }

    input {
      width: 100%;
      height: 44px;
      padding: 10px 12px;
      border: 1px solid;
      border-radius: 8px;
      background: #fff;
      outline: none;
      transition: border-color 0.2s, box-shadow 0.2s;
    }

    button {
      display: inline-block;
      width: 100%;
      height: 44px;
      margin-top: 36px;
      background-color: rgb(170, 160, 230);
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: rgb(150, 140, 210);
      }
    }
  }
}

.join-container {
  margin-top: 16px;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }
}
